# Ignore password files
**/secrets/*.pwd
**/secrets/*.secret
**/secrets/*.vault

# Ignore temp folder
temp/

# bambuddy host specific
docker/bambuddy/data/host/data/*
docker/bambuddy/data/host/logs/*
!docker/bambuddy/data/host/data/.gitkeep
!docker/bambuddy/data/host/logs/.gitkeep

# bambuddy host specific
docker/bambustudio/data/host/config/*
!docker/bambustudio/data/host/config/.gitkeep

# docker-volume-backup host specific
docker/docker-volume-backup/data/host/backups/*
!docker/docker-volume-backup/data/host/backups/.gitkeep

# frigate host specific
docker/frigate/data/host/db/*
docker/frigate/data/host/config/*
!docker/frigate/data/host/db/.gitkeep
!docker/frigate/data/host/config/.gitkeep

# gluetun host specific
docker/gluetun/data/host/gluetun-001/gluetun/*
docker/gluetun/data/host/gluetun-001/tmp/*
docker/gluetun/data/host/gluetun-002/gluetun/*
docker/gluetun/data/host/gluetun-002/tmp/*
docker/gluetun/data/host/prowlarr/config/*
docker/gluetun/data/host/qbittorrent-prv/config/*
docker/gluetun/data/host/qbittorrent-pub/config/*
!docker/gluetun/data/host/gluetun-001/gluetun/.gitkeep
!docker/gluetun/data/host/gluetun-001/tmp/.gitkeep
!docker/gluetun/data/host/prowlarr/config/.gitkeep
!docker/gluetun/data/host/gluetun-002/gluetun/.gitkeep
!docker/gluetun/data/host/gluetun-002/tmp/.gitkeep
!docker/gluetun/data/host/qbittorrent-prv/config/.gitkeep
!docker/gluetun/data/host/qbittorrent-pub/config/.gitkeep

# infisical host specific
docker/infisical/data/host/db-data/*
docker/infisical/data/host/redis/*
!docker/infisical/data/host/db-data/.gitkeep
!docker/infisical/data/host/redis/.gitkeep

# jellyfin host specific
docker/jellyfin/data/host/cache/*
docker/jellyfin/data/host/config/*
!docker/jellyfin/data/host/cache/.gitkeep
!docker/jellyfin/data/host/config/.gitkeep

# semaphoreui host specific
docker/semaphoreui/data/host/semaphoreui/data/*
docker/semaphoreui/data/host/semaphoreui/config/*
docker/semaphoreui/data/host/semaphoreui/keys/*
docker/semaphoreui/data/host/semaphoreui/tmp/*
docker/semaphoreui/data/host/mysql/*
!docker/semaphoreui/data/host/semaphoreui/data/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/config/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/keys/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/tmp/.gitkeep
!docker/semaphoreui/data/host/mysql/.gitkeep

# spoolman host specific
docker/spoolman/data/host/spoolman/*
!docker/spoolman/data/host/spoolman/.gitkeep
