# Ignore password files
**/secrets/*.pwd
**/secrets/*.secret
**/secrets/*.vault

# Ignore temp folder
temp/

# docker-volume-backup host specific
docker/docker-volume-backup/data/host/backups/*
!docker/docker-volume-backup/data/host/backups/.gitkeep

# semaphoreui host specific
docker/semaphoreui/data/host/semaphoreui/data/*
docker/semaphoreui/data/host/semaphoreui/config/*
docker/semaphoreui/data/host/semaphoreui/keys/*
docker/semaphoreui/data/host/semaphoreui/tmp/*
docker/semaphoreui/data/host/mysql/*
!docker/semaphoreui/data/host/semaphoreui/data/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/config/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/keys/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/tmp/.gitkeep
!docker/semaphoreui/data/host/mysql/.gitkeep
