# Ignore password files
**/secrets/*.pwd
**/secrets/*.secret
**/secrets/*.vault

# Ignore temp folder
temp/

# docker-volume-backup host specific
docker/docker-volume-backup/data/host/backups/*
!docker/docker-volume-backup/data/host/backups/.gitkeep

# frigate host specific
docker/frigate/data/host/db/*
docker/frigate/data/host/config/*
!docker/frigate/data/host/db/.gitkeep
!docker/frigate/data/host/config/.gitkeep

# jellyfin hostspecific
docker/jellyfin/data/host/cache/*
docker/jellyfin/data/host/config/*
!docker/jellyfin/data/host/cache/.gitkeep
!docker/jellyfin/data/host/config/.gitkeep

# semaphoreui host specific
docker/semaphoreui/data/host/semaphoreui/data/*
docker/semaphoreui/data/host/semaphoreui/config/*
docker/semaphoreui/data/host/semaphoreui/keys/*
docker/semaphoreui/data/host/semaphoreui/tmp/*
docker/semaphoreui/data/host/mysql/*
!docker/semaphoreui/data/host/semaphoreui/data/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/config/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/keys/.gitkeep
!docker/semaphoreui/data/host/semaphoreui/tmp/.gitkeep
!docker/semaphoreui/data/host/mysql/.gitkeep
